<html>
    <head>
        <title>CustUUOoooMER FoRm</title>
    </head>
    <body>
        <div>
            <div>DetaILS  Of lA CUstOmer</div>
            <form>
                Name: <input type="text" name="user_name"> <br>

                Phone: <input type="text" name="contact_no"> <br>

                Total Items: <input type="number" name="Number_of_items"> <br>
                
                Total Amount: <input type="number" name="amount"> <br>
                
                Date: <input type="date" name="current_date"> <br>>
                <div>
                    <button>Submit</button>
                    <button>Today's winner!</button>
                </div>
            </form>
        </div>
    </body>
</html>